entrypoint = "README.md"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 8085
externalPort = 4200

[[ports]]
localPort = 8086
externalPort = 5000

[[ports]]
localPort = 8087
externalPort = 5173

[[ports]]
localPort = 8088
externalPort = 6000

[[ports]]
localPort = 8089
externalPort = 6800

[[ports]]
localPort = 8090
externalPort = 8000

[[ports]]
localPort = 8091
externalPort = 8008

[[ports]]
localPort = 8092
externalPort = 8080

[[ports]]
localPort = 8093
externalPort = 8081

[[ports]]
localPort = 8094
externalPort = 8099

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "API Server"
author = 39794279

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app/api/index.ts"

[[workflows.workflow]]
name = "Dev"
author = 39794279

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start & node app/api/index.ts"

[[workflows.workflow]]
name = "API"
author = 39794279

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app/api/index.ts"
